<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>933026332710-97a55n752hdmb640ps9p68f8qbcg42ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933026332710-97a55n752hdmb640ps9p68f8qbcg42ef</string>
	<key>API_KEY</key>
	<string>AIzaSyCxSItRlz8W9Y3Q2rnaaCdvqCtZO2oYhJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>933026332710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VivianLiu.ChemicalCalculator</string>
	<key>PROJECT_ID</key>
	<string>chemicalcalculator-563f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chemicalcalculator-563f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:933026332710:ios:0902a6791f5cc12c</string>
	<key>DATABASE_URL</key>
	<string>https://chemicalcalculator-563f7.firebaseio.com</string>
</dict>
</plist>